# Ignore everything
*

# But allow directories
!*/

# Track only Swift files
!*.swift

# Track the README and its screenshots
!README.md
!CONTRIBUTE_BACK.md
!LICENSE
!.gitignore
!docs/screenshots/*.png
